<!DOCTYPE html>
<html class="x-admin-sm" lang="">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote class="layui-elem-quote">welcome：
                        <span class="x-red">${sellerVO.realName!""}</span> ！time:${sellerVO.lastLogin!""}
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">Statistics</div>
                <div class="layui-card-body ">
                    <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                        <li class="layui-col-md3 layui-col-xs6">
                            <a href="javascript:" class="x-admin-backlog-body">
                                <h3>Sales this month</h3>
                                <p>
                                    <cite>${monthSales!""}</cite>
                                </p>
                            </a>
                        </li>
                        <li class="layui-col-md3 layui-col-xs6">
                            <a href="javascript:" class="x-admin-backlog-body">
                                <h3>Sales this month</h3>
                                <p>
                                    <cite>${monthSaleAmount!""}</cite>
                                </p>
                            </a>
                        </li>
                        <li class="layui-col-md3 layui-col-xs6">
                            <a href="/seller/order/listPage?orderState=3" class="x-admin-backlog-body">
                                <h3>Delivery</h3>
                                <p>
                                    <cite>${unshippedOrderNum!""}</cite>
                                </p>
                            </a>
                        </li>
                        <li class="layui-col-md3 layui-col-xs6">
                            <a href="/seller/order/listPage?orderState=4" class="x-admin-backlog-body">
                                <h3>transportation</h3>
                                <p>
                                    <cite>${shippedOrderNum!""}</cite>
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">Store Information</div>
                <div class="layui-card-body ">
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <th>Store Name</th>
                            <td>${shopVO.name!""}</td>
                        </tr>
                        <tr>
                            <th>Store category</th>
                            <td>${shopVO.cateName!""}</td>
                        </tr>
                        <tr>
                            <th>cumulative sales</th>
                            <td>${shopVO.sales!""}</td>
                        </tr>
                        <tr>
                            <th>starting price</th>
                            <td>${shopVO.expressLimit!""}</td>
                        </tr>
                        <tr>
                            <th>Freight starting price</th>
                            <td>${shopVO.expressPrice!""}</td>
                        </tr>
                        <tr>
                            <th>Promotions</th>
                            <td>${shopVO.discount!""}</td>
                        </tr>
                        <tr>
                            <th>store status</th>
                            <td>${(shopVO.state==1) ? then('normal','pending trial')}</td>
                        </tr>
                        <tr>
                            <th>Recommended store</th>
                            <td>${(shopVO.recommend==1) ? then('Recommended display','no')}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>